* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  background: var(--back-color);
}

main {
  transition: 0.5s;
  background: #000000;
}

.navbar {
  background-color: #333;
  width: 15%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9998;
}

.navbar ul {
  overflow: hidden;
  list-style-type: none;
  padding-top: 50%;
  margin: 0;
}

.navbar li {
  display: block;
  margin: 0;
  padding: 5% 50px;
  width: 100%;
}

.navbar li:hover {
  cursor: pointer;
}


.navbar li:hover {
  cursor: pointer;
  background-color: #ce3939;
  letter-spacing: 10px;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
  float: left;
  transition: opacity 0.3s;
  z-index: 9999;
  /* Asegura que el menú esté en la capa superior */
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background: rgb(236, 66, 66);
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger .line:nth-child(1) {
  background-color: #4b4b4b;
}

.hamburger .line:nth-child(2) {
  background-color: #fff;
}

.hamburger .line:nth-child(3) {
  background-color: #4b4b4b;
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/* Resto del CSS previo */

/* Definir la animación de apertura del menú */
@keyframes fade-in {
  from {
    transform: translateX(-300px);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Definir la animación de cierre del menú */
@keyframes fade-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-300px);
    opacity: 1;
  }
}

.navbar {
  display: none;
  transition: all 0.5s ease-in-out;
}

/* Aplicar animación de apertura al menú */
.navbar.active {
  display: block;
  animation: fade-in 0.8s;
}

/* Aplicar animación de cierre al menú */
.navbar.active.closing {
  animation: fade-out 0.8s;
}

/* Resto del CSS posterior */


.navbar li a {
  font-size: 1.2em;
  color: #d3e3e3;
  text-decoration: none;
}

@media screen and (max-width: 1360px) {
  .h1 h1 {
    font-size: 3em;
    left: 35%;
  }

  .navbar {
    width: 30%;
  }

  .navbar ul {
    padding-left: 0%;
  }

  .navbar li {
    padding: 3% 0;
  }

  .navbar li a {
    font-size: 1.2em;
    color: #d3e3e3;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    float: right;
  }

  .navbar {
    background-color: #333;
  width: 55%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9998;
  }

  .navbar ul {
    overflow: hidden;
  list-style-type: none;
  padding-top: 40%;
  margin: 0;
  }

  .navbar li {
    display: block;
    margin: 0;
    padding: 14px 20px;
    width: 100%;
  }

  .navbar li:hover {
    cursor: pointer;
    background-color: #ce3939;
  }

  .navbar li a {
    color: #d3e3e3;
    text-decoration: none;
    padding: 14px 16px;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    transition: all .5s;
  }

  .navbar li:hover {
    cursor: pointer;
    background-color: #ce3939;
    letter-spacing: 10px;
  }
}

main section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

main section #logo {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 280px;
  height: auto;
}

main section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #393939, transparent);
  z-index: 1;
}

main section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

main section .logo_class {
  top: 43%;
  -o-object-fit: contain;
  object-fit: contain;
}

main section h1 {
  position: relative;
  color: #fdfdfd;
  font-size: 7vw;
}

main .sec {
  position: relative;
  min-height: 500px;
  padding: 100px;
}

main .sec .content {
  position: relative;
}

main .sec .content h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  font-size: 4vw;
  color: #08a3e0;
}

main .sec #Portafolio h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  font-size: 4vw;
  margin-top: 100px;
  color: #08a3e0;
}

main .sec .content p {
  font-size: 1.1em;
  color: #f5f7f8;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.galeria {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.galeria__item {
  width: 80%;
  cursor: pointer;
}

@media (min-width: 480px) {
  .galeria__item {
    width: 48%;
    margin: 5px;
  }
}



@media (min-width: 1024px) {
  .galeria__item {
    width: 20%;
    margin: 15px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__img {
  width: 70%;
  max-width: 700px;
}

.modal__boton {
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
  line-height: 50px;
  text-align: center;
  background: rgb(196, 196, 196);
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  right: 10px;
  top: 10px;
}

footer {
  width: auto;
  background: #18191f;
}

.container2 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #393d3f;
}

.card .card-header {
  text-align: center;
  padding: 15px 0;
}

.card .card-header .card-title {
  font-size: 1.5em;
  color: #fff;
  width: 60%;
  padding-bottom: 15px;
  margin: 15px auto;
  border-bottom: 2px solid #000000;
}

footer p {
  font-size: 1.1em;
  color: #f5f7f8;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 35px 25px;
  margin-top: 20px;
}

.form .input {
  background-color: #393d3f;
  color: #fff;
  display: block;
  padding: 10px 0 25px 0;
  border: none;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
  outline: none;
  transition: all 0.5s;
}

.form .input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form .input:focus {
  padding: 10px 0 35px 0;
}

.form .input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 1);
}

.form .btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 15px;
  margin-top: 25px;
  align-self: flex-end;
  cursor: pointer;
}

.form .btn:hover {
  background-color: rgb(32, 32, 32);
  transition: 0.8s;
  transform: scale(1.1);
}

footer h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  font-size: 2.8vw;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: auto;
}

a {
  text-decoration: none;
}

.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  /* Usar 'vw' (viewport width) para ajustar el tamaño según el ancho de la pantalla */
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 30px;
  padding: 1.5vw 2vw;
  /* Usar 'vw' para ajustar el relleno según el ancho de la pantalla */
  margin: 0 2vw;
  /* Usar 'vw' para ajustar el margen según el ancho de la pantalla */
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
  cursor: pointer;
}

.fa:hover {
  transform: scale(1.15);
}

#twitter {
  animation-delay: 0.3s;
}

#facebook {
  animation-delay: 0.7s;
}

#email {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  main section #logo {
    top: 50px;
    /* Alineamos el logo 50px desde la parte superior */
    left: 0;
    /* Centramos horizontalmente el logo */
    right: 0;
    margin: 0 auto;
    transform: none;
  }
  .container {
    height: 10%;  
  }
  .container2 {
    max-width: 90%;
  }

  .form .input,
  .form .input-50,
  .form textarea {
    width: 100%;
    margin: 5px 0; /* Reducimos los márgenes verticalmente */
    padding: 8px; /* Ajustamos el relleno (padding) para hacerlo más compacto */
  }

  .form .btn {
    width: 100%;
    margin-top: 15px; /* Ajustamos el margen superior del botón */
  }

  @keyframes fade-in {
    from {
      transform: translateX(-300px);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Definir la animación de cierre del menú */
  @keyframes fade-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-300px);
      opacity: 1;
    }
  }

  .galeria__item {
    width: 100%; /* Ajustamos el ancho de cada imagen para que aparezcan dos en una fila */
    margin: 5px; /* Ajustamos los márgenes entre las imágenes */
  }

  main .sec {
    padding: 20px;
  }

  h2, h1{
    text-align: center;
  }
}